/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(https://fonts.googleapis.com/css?family=Nixie+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
main {
    flex: 1 0 auto;
}

.title-rd {
    font-weight: light !important;
    font-size: 50pt;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Nixie One', cursive;
}

.login-form {
    background-color: #fff;
}
