/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(https://fonts.googleapis.com/css?family=Nixie+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700);
html {
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

body {
    overflow-y: hidden !important;
}

.ris {
    font-family: 'Montserrat', cursive;
    font-weight: 700;
}

.light {
    font-family: 'Mr Dafoe', cursive;
    font-size: 22px;
}

.container {
    width: 90% !important;
    /*padding-right: 20% !important;*/
}

.title-rd {
    font-weight: light !important;
    font-size: 50pt;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Nixie One', cursive;
}

.login-form {
    background-color: #fff;
}


/*clock style for welcome page*/

.widget-clock.blue-light .clock-face {
    stroke: #153b6f;
    fill: #0e2434;
}

.widget-clock.blue-light .minor {
    stroke: #0089ff;
    stroke-width: 0.5;
}

.widget-clock.blue-light .major {
    stroke: rgba(119, 176, 242, 0.97);
    stroke-width: 0.5;
}

.widget-clock.blue-light .hour {
    stroke: rgba(119, 176, 242, 0.97);
    stroke-width: 1;
}

.widget-clock.blue-light .minute {
    stroke: #0089ff;
    stroke-width: 0.75;
}

.widget-clock.blue-light .second,
.widget-clock.blue-light .second-counterweight {
    stroke: rgb(234, 31, 54);
    stroke-width: 0.5;
}

.widget-clock.blue-light .second-counterweight {
    stroke-width: 1.5;
}


/*/loader*/

#loading-bar .bar {
    background: #23f707;
    height: 5px !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #23f707;
    border-left-color: #23f707;
}

#loading-bar .peg {
    -moz-box-shadow: #2c3e50 1px 0 6px 1px;
    -ms-box-shadow: #2c3e50 1px 0 6px 1px;
    -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
    box-shadow: #2c3e50 1px 0 6px 1px;
}


/*breadcrumb*/

.breadcrumb {
    color: #000;
}


/*general form styling*/

.form-row-div {
    padding-top: 20px;
    padding-bottom: 20px;
}
