<div ncy-breadcrumb class="col s12 ">
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="userForm" ng-submit="exameMethodVm.addNewExamMethod()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type</label>
                            <md-select required ng-model="exameMethodVm.exMethod.examTypeId">
                                <md-option ng-repeat="type in exameMethodVm.examTypes" value="{{type.id}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input required ng-model="exameMethodVm.exMethod.name">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Regular Price</label>
                            <input required type="number" ng-model="exameMethodVm.exMethod.dayPrice">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Night Price</label>
                            <input required type="number" ng-model="exameMethodVm.exMethod.nightPrice">
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Remarque</label>
                        <textarea required ng-model="exameMethodVm.exMethod.remarque" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Default Results Model</label>
                        <textarea required ng-model="exameMethodVm.exMethod.defaultResultModel" columns="1" md-maxlength="150" rows="25"></textarea>
                    </md-input-container>
                    Other Result Models:
                    <md-card ng-repeat="resultModel in exameMethodVm.exMethod.resultModels">
                        <div layout="column" ng-cloak class="md-inline-form">
                            <md-content layout-padding>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Name</label>
                                    <input ng-model="resultModel.name">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Default Results Model</label>
                                    <textarea ng-model="resultModel.resultModel" columns="1" md-maxlength="150" rows="5"></textarea>
                                </md-input-container>
                            </md-content>
                        </div>
                    </md-card>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-raised md-warn">ADD</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
