<div class="container">
    <div class="row ">
        <div ncy-breadcrumb class="col s6 "></div>
    </div>
    <div class="row  grey lighten-2">
        <div class="col s12 center-align">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Exam Type</th>
                        <th>Exam Method</th>
                        <th>Remarque</th>
                        <th>Price</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tr ng-repeat="method in exm.examMethods">
                    <td>{{method.examType.name}}</td>
                    <td>{{method.name}}</td>
                    <td>{{method.remarque}}</td>
                    <td>{{method.price}}</td>
                    <td>{{method.id}}</td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s6 right-align dashboard-main-action-bar">
        <a ui-sref="app.setting.exam-method.new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</div>
