<header>
    <div class="navbar-fixed">
        <nav class="blue dashboard-layout-nav">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo logo-padding"><span class="ris">RIS</span><span class="light"> Lite*</span class="light"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a ui-sref="app.dashboard.main">Dashboard</a></li>
                    <li><a ui-sref="app.appointment">Rendez vous</a></li>
                    <li><a ui-sref="app.exam">Exams</a></li>
                    <li><a ui-sref="app.patient">Patients</a></li>
                    <li><a ui-sref="app.doctor">Medecins</a></li>
                    <!-- <li><a ui-sref="dashboard" ng-if="isAuthorized([userRoles.doctor,userRoles.admin])">Billing</a></li>
 -->
                    <li><a ui-sref="app.reporting" ng-if="isAuthorized(userRoles.admin)">Statistique</a></li>
                    <li><a ui-sref="app.admin" ng-if="isAuthorized(userRoles.admin)">Administration</a></li>
                    <li><a ui-sref="app.setting" ng-if="isAuthorized(userRoles.admin)">Configuration</a></li>
                    <li><a href="">Welcome, {{app.username}}</a></li>
                    <li><a ng-click="app.logout()" class="red light-3"><i class="material-icons right">lock_outline</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- <div ui-view="left-side" ng-if="layout.hasSideNav()" class="level0"></div> -->
</header>
<section layout="row" flex class="full-height">
    <div ui-view="left-side" ng-if="app.hasSideNav()"></div>
    <md-content flex layout-padding ui-view="main">
    </md-content>
</section>
