<div ncy-breadcrumb class="col s12 ">
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="userForm" ng-submit="equipmentVm.addNewEquipment()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input required ng-model="equipmentVm.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type</label>
                            <md-select ng-model="equipmentVm.type">
                                <md-option ng-repeat="type in equipmentVm.types" value="{{type.id}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Room</label>
                            <md-select ng-model="equipmentVm.roomId">
                                <md-option ng-repeat="room in equipmentVm.rooms" value="{{room.id}}">
                                    {{room.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Brand</label>
                            <input required ng-model="equipmentVm.brand">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Year</label>
                            <input required type="number" ng-model="equipmentVm.year">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-raised md-warn">ADD</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
