<div class="container">
    <div class="row">
        <div ncy-breadcrumb class="col s6 "></div>
        <div class="col s6 right-align dashboard-main-action-bar">
            <a class="btn-floating btn-large waves-effect waves-light red "><i class="material-icons">add</i></a>
        </div>
        <div class="col s12 center-align dashboard-main-table grey lighten-3">
            <table class="centered">
                <thead>
                    <tr>
                        <th data-field="id">Name</th>
                        <th data-field="name">Item Name</th>
                        <th data-field="price">Item Price</th>
                        <th data-field="price">Item Price</th>
                        <th data-field="price">Item Price</th>
                        <th data-field="price">Item Price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
