<div class="container">
    <div class="row">
        <div ncy-breadcrumb class="col s12 "></div>
    </div>
    <div class="row">
        <form class="col s12" ng-submit="eq.addNewEquipment()">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" autofocus ng-model="eq.name" required>
                    <label for="first_name">Name*</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="eq.type" ng-options="type.id as type.name for type in eq.equipmentTypes track by type.id" browser-default required>
                    </select>
                    <label for="last_name">Type*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" autofocus ng-model="eq.brand" required>
                    <label for="first_name">Brand*</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="number" class="validate" ng-model="eq.year" required>
                    <label for="last_name">Year*</label>
                </div>
            </div>
            <div class="right-align">
                <button type="submit" value="Add" class="waves-effect waves-light btn align-right red">Add </button>
            </div>
        </form>
    </div>
    <script>
    </script>
