<div ncy-breadcrumb class="col s12 "></div>
<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">Rooms</h2>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table ng-model="equipmentTypeVm.selected" md-progress="equipmentTypeVm.equipmentTypeList">
            <thead md-head md-order="equipmentTypeVm.query.order" md-on-reorder="equipmentTypeVm.onReorder">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-numeric><span>Number</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="equipment" md-select-id="{{equipment.id}}" md-auto-select ng-repeat="equipment in equipmentTypeVm.equipmentTypeList">
                    <td md-cell>{{equipment.name}}</td>
                    <td md-cell>{{equipment.number}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div class="col s6 right-align dashboard-main-action-bar">
        <a ui-sref="app.setting.room.new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</md-card>
