<div class="col s6" ncy-breadcrumb>
</div>
<div class="row">
    <div class="col s2 offset-s7 center-align">
        <button ui-sref="app.appointment.new" class="col s12 green waves-effect waves-light btn btn-large">New Appointment</button>
    </div>
    <div class="col s3 center-align">
        <button class="col blue s12 waves-effect waves-light btn btn-large">Today's Appointments</button>
    </div>
</div>
<md-content>
    <calendar-md flex layout layout-fill calendar-direction="appointmentVm.direction" on-prev-month="appointmentVm.prevMonth" on-next-month="appointmentVm.nextMonth" on-day-click="appointmentVm.dayClick" title-format="'MMMM y'" ng-model='appointmentVm.selectedDate' day-format="appointmentVm.dayFormat" day-label-format="'EEE'" day-label-tooltip-format="'EEEE'" day-tooltip-format="'fullDate'" week-starts-on="appointmentVm.weekStartsOn" tooltips="appointmentVm.tooltips" day-content="appointmentVm.setDayContent"></calendar-md>
</md-content>
