@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.logo-padding {
    margin-left: 10px;
}

.dashboard-main-action-bar {
    margin-bottom: 20px;
}

.dashboard-main-table {
    min-height: 70vh;
}

.ui-select-toggle {
    background-color: #ffffff !important;
}

.auto-complte {
    margin-top: 10px;
    margin-right: 10PX;
}

.monitoring-header {
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    font-size: 5vh;
}

.monitoring-number {
    text-align: center;
    font-size: 7vh;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

.exam-number {
    text-align: center;
    font-size: 5vh;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

.awaiting {
    color: #F44336;
}

.ongoing {
    color: #9C27B0;
}

.exam {
    color: #2196F3;
}

.exam-header {
    color: #616161;
    font-size: 5vh;
}

.done {
    color: #4CAF50;
}

.appointment {
    color: #42A5F5;
}

.total-exam-number {
    text-align: center;
    font-size: 4vh;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    color: #000000;
}
