<div class="row ">
    <div class="col s6" ncy-breadcrumb></div>
</div>
<md-card id="toastParent">
    <div layout="column" ng-cloak layout-padding>
        <div flex="100">
            <h5>Patient Details</h5>
            <table>
                <thead>
                    <tr>
                        <th data-field="id">First Name</th>
                        <th data-field="name">Last Name</th>
                        <th data-field="price">Gender</th>
                        <th data-field="price">Age</th>
                        <th data-field="price">Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{examVm.selectedExam.patient.firstName}}</td>
                        <td>{{examVm.selectedExam.patient.lastName}}</td>
                        <td>{{examVm.selectedExam.patient.gender}}</td>
                        <td>{{examVm.selectedExam.patient.age}}</td>
                        <td>{{examVm.selectedExam.examType.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div flex="100">
            <h5>Exam Details</h5>
            <table>
                <thead>
                    <tr>
                        <th data-field="id">Name</th>
                        <th data-field="price">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{examVm.selectedExam.examType.name}}</td>
                        <td>{{examVm.selectedExam.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <md-input-container>
            <label>Pathology Models</label>
            <md-select ng-model="examVm.selectedPathology" ng-change="examVm.updateReportModel()">
                <md-option ng-repeat="pathology in examVm.pathologyModels" value=" {{pathology.resultModel}}">
                    {{pathology.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <form name="examsListForm">
            <div flex>
                <h5>Exam Results</h5>
                <trix-editor angular-trix ng-model="examVm.selectedExam.interpretation"></trix-editor>
            </div>
            <div flex>
                <h5>Exam Conclusion</h5>
                <trix-editor angular-trix ng-model="examVm.selectedExam.conclusion"></trix-editor>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end">
                <!-- <md-button ng-click="examVm.saveAndContinue()" class="md-warn md-raised">SAVE & CONTINUE</md-button> -->
                <md-button ng-if="examVm.selectedExam.status=='NEW'" ng-click="examVm.saveAndClose()" class="md-warn md-raised">SAVE</md-button>
                <md-button ng-click="examVm.preview()" class="md-warn md-raised">PREVIEW</md-button>
                <md-button ng-if="examVm.selectedExam.status=='NEW'" ng-click="examVm.deliver()" class="md-warn md-raised">DELIVER</md-button>
                <md-button ng-if="examVm.selectedExam.status=='DELIVERED'" ng-click="examVm.print()" class="md-warn md-raised">PRINT</md-button>
            </div>
        </form>
    </div>
</md-card>
<md-card>
    <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false" time-limit="timeLimit">
        <div ng-if="recorder.isAvailable">
            <div ng-if="recorder.status.isDenied === true" style="color: red;">
                You need to grant permission for this application to USE your microphone.
            </div>
            <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
                Start Record
            </button>
            <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                Stop Record
            </button>
            <button ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()" type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
            </button>
            <button ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>
            <div style="max-width: 600px">
                <div ng-show="recorder.status.isConverting">
                    Please wait while your recording is processed.
                </div>
                <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
                    <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
                </div>
                <br/>
                <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                    <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
                </div>
            </div>
            <h2 style="font-family: sans-serif; text-align: center; width: 60px; border-radius: 20px;
        border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
                {{recorder.elapsedTime > 9 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}}
            </h2>
            <h2 style="font-family: sans-serif; text-align: center; border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
                Remaining Time: {{recorder.timeLimit - recorder.elapsedTime}}
            </h2>
        </div>
        <div ng-if="!recorder.isAvailable">
            Your browser does not support this feature natively, please use latest version of <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to use this feature.
        </div>
    </ng-audio-recorder>
</md-card>
