<div class="row ">
    <div class="col s6" ncy-breadcrumb></div>
</div>
<md-card id="toastParent">
    <div layout="column" ng-cloak layout-padding>
        <div flex="100">
            <h5>Patient Details</h5>
            <table>
                <thead>
                    <tr>
                        <th data-field="id">First Name</th>
                        <th data-field="name">Last Name</th>
                        <th data-field="price">Gender</th>
                        <th data-field="price">Age</th>
                        <th data-field="price">Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{examVm.selectedExam.patient.firstName}}</td>
                        <td>{{examVm.selectedExam.patient.lastName}}</td>
                        <td>{{examVm.selectedExam.patient.gender}}</td>
                        <td>{{examVm.selectedExam.patient.age}}</td>
                        <td>{{examVm.selectedExam.examType.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div flex="100">
            <h5>Exam Details</h5>
            <table>
                <thead>
                    <tr>
                        <th data-field="id">Name</th>
                        <th data-field="price">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{examVm.selectedExam.examType.name}}</td>
                        <td>{{examVm.selectedExam.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div layout="row">
            <div flex="65" ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION'">
                <h5>Pathology related Models</h5>
                <md-input-container class="md-block">
                    <label>Pathology Models</label>
                    <md-select ng-model="examVm.selectedPathology" ng-change="examVm.updateReportModel()" flex="80">
                        <md-option ng-repeat="pathology in examVm.pathologyModels" value=" {{pathology.resultModel}}">
                            {{pathology.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="35" ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION'">
                <h5>Audio Recording</h5>
                <ng-audio-recorder id="{{examVm.selectedExam.id}}" audio-model="recorded" show-player="true" ng-if="!examVm.displayAudioPlayer">
                    <div ng-if="recorder.isAvailable">
                        <div ng-if="recorder.status.isDenied === true" style="color: red;">
                            You need to grant permission for this application to USE your microphone.
                        </div>
                        <md-button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording">
                            Start Record
                        </md-button>
                        <md-button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                            Stop Record
                        </md-button>
                        <md-button ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()" type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                            {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
                        </md-button>
                        <h4 ng-if="recorder.status.isRecording" class="blink">
                                 You are recording
                        </h4>
                    </div>
                    <div ng-if="!recorder.isAvailable">
                        Your browser does not support this feature natively, please use latest version of <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to use this feature.
                    </div>
                </ng-audio-recorder>
                <div layout="row" ng-if="examVm.displayAudioPlayer">
                    <audio controls class="audio">
                        <source src="{{examVm.audioFileUrl}}" type="audio/mpeg"> Your browser does not support the audio element.
                    </audio>
                    <md-button ng-click="examVm.recordNewAudio()" class="md-warn md-raised">Erase</md-button>
                </div>
            </div>
        </div>
        <form name="examsListForm">
            <div flex ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION' || examVm.selectedExam.status=='INTERPRETED'">
                <h5>Exam Results</h5>
                <trix-editor angular-trix ng-model="examVm.selectedExam.interpretation"></trix-editor>
            </div>
            <div flex ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION' || examVm.selectedExam.status=='INTERPRETED'">
                <h5>Exam Conclusion</h5>
                <trix-editor angular-trix ng-model="examVm.selectedExam.conclusion"></trix-editor>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end">
                <md-button ng-if="examVm.selectedExam.status=='NEW'" ng-click="examVm.markAsExecuted()" class="md-warn md-raised">MARK AS EXECUTED</md-button>
                <md-button ng-if="examVm.selectedExam.status=='EXECUTED'" ng-click="examVm.startInterpretation()" class="md-warn md-raised">START INTERPRETATION</md-button>
                <!--  <md-button ng-if="examVm.selectedExam.status=='NEW'" ng-click="examVm.saveAudioRecording()" class="md-warn md-raised">SAVE AUDIO</md-button> -->
                <md-button ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION'" ng-click="examVm.saveAndClose()" class="md-warn md-raised">SAVE</md-button>
                <md-button ng-if="examVm.selectedExam.status!='NEW'" ng-click="examVm.preview()" class="md-warn md-raised">PREVIEW</md-button>
                <md-button ng-if="examVm.selectedExam.status=='UNDER INTERPRETATION'" ng-click="examVm.markAsInterpreted()" class="md-warn md-raised">MARK AS INTERPRETED</md-button>
                <md-button ng-if="examVm.selectedExam.status=='INTERPRETED'" ng-click="examVm.deliver()" class="md-warn md-raised">DELIVER</md-button>
                <md-button ng-if="examVm.selectedExam.status=='DELIVERED'" ng-click="examVm.print()" class="md-warn md-raised">PRINT</md-button>
            </div>
        </form>
    </div>
</md-card>
