<div ncy-breadcrumb class="col s12 ">
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="userForm" ng-submit="examTypeVm.addNewExamType()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input required ng-model="examTypeVm.exType.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type</label>
                            <md-select required ng-model="examTypeVm.exType.equipmentTypeId">
                                <md-option ng-repeat="type in examTypeVm.equipmentTypes" value="{{type.id}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea required ng-model="examTypeVm.exType.description" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Regular Price</label>
                            <input required type="number" ng-model="examTypeVm.exType.dayPrice">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Night Price</label>
                            <input required type="number" ng-model="examTypeVm.exType.nightPrice">
                        </md-input-container>
                    </div>
                    Remarque(preparation):
                    <md-input-container class="md-block">
                        <label> Remarque(preparation)</label>
                        <textarea ng-model="examTypeVm.exType.remarque" md-maxlength="150" rows="5" md-select-on-focus required=""></textarea>
                    </md-input-container>
                    Default Results Model:
                    <trix-editor angular-trix ng-model="examTypeVm.exType.defaultResultModel"></trix-editor>
                    Other Result Models:
                    <md-card ng-repeat="resultModel in examTypeVm.exType.resultModels">
                        <div layout="column" ng-cloak class="md-inline-form">
                            <md-content layout-padding>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Name</label>
                                    <input ng-model="resultModel.name">
                                </md-input-container>
                                Results Model:
                                <trix-editor angular-trix ng-model="resultModel.resultModel"></trix-editor>
                            </md-content>
                            <div layout="row" layout-align="end">
                                <md-button ng-click="examTypeVm.removeModel($index)" class="md-raised md-warn">REMOVE MODEL</md-button>
                            </div>
                        </div>
                    </md-card>
                    <md-button ng-click="examTypeVm.addNewModel()" class="md-raised md-warn">ADD NEW MODEL</md-button>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-raised md-warn">CREATE</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
