<div class="container">
    <div class="row  grey lighten-3">
        <div ncy-breadcrumb class="col s6 "></div>
    </div>
    <div class="row  grey lighten-2">
        <div class="col s12 center-align">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Equipment Type</th>
                        <th>Description</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tr ng-repeat="examType in ext.examTypes">
                    <td>{{examType.name}}</td>
                    <td>{{examType.equipmentType.name}}</td>
                    <td>{{examType.description}}</td>
                    <td>{{examType.id}}</td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s6 right-align dashboard-main-action-bar">
        <a ui-sref="app.setting.exam-type.new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</div>
