<div class="container">
    <div class="row  grey lighten-3">
        <div ncy-breadcrumb class="col s12 "></div>
    </div>
    <div class="row grey lighten-2 form-row-div">
        <form class="col s12" ng-submit="ext.addNewExamType()">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" autofocus ng-model="ext.name" required>
                    <label for="first_name">Name</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="ext.equipmentTypeId" ng-options="type.id
  as type.name for type in ext.equipmentTypes track by type.id" required>
                    </select>
                    <label for="last_name">Equipment Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="ext.description"></textarea required>
                    <label for="textarea1">Description</label>
                </div>
            </div>
            <div class="right-align">
                <button type="submit" class="waves-effect waves-light btn align-right red">Add</button>
            </div>
        </form>
    </div>
