<div ncy-breadcrumb class="col s12 ">
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="userForm" ng-submit="examTypeVm.addNewExamType()">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input required ng-model="examTypeVm.exType.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type</label>
                            <md-select required ng-model="examTypeVm.exType.equipmentTypeId">
                                <md-option ng-repeat="type in examTypeVm.equipmentTypes" value="{{type.id}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea required ng-model="examTypeVm.exType.description" columns="1" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-raised md-warn">ADD</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
