<div class="container dashboard-container ">
    <div class="row ">
        <div class="col s6" ncy-breadcrumb></div>
    </div>
    <div class="row grey lighten-2 form-row-div">
        <form class="col s12" ng-submit="qt.addNewExamMethod()">
            <div class="row">
                <div class="input-field col s4">
                    <select id="quotationSelectType" ng-model="qt.examTypeId" autofocus ng-options="type.id as type.id for type in qt.examTypes track by type.id" ng-change="qt.getExamMethods(qt.examTypeId)" required>
                    </select>
                    <label for="last_name">Exam Type</label>
                </div>
                <div class="input-field col s4">
                    <select id="quotationSelectMethod" ng-model="qt.examMethodId" ng-options="method.id as method.name for method in qt.examTMethods track by method.id" required>
                    </select>
                    <label for="last_name">Exam Method</label>
                </div>
                <div class="input-field col s4">
                    <input id="price" type="number" class="validate" ng-model="qt.price" required>
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="right-align">
                <button type="submit" class="waves-effect waves-light btn align-right red">Add</button>
            </div>
        </form>
    </div>
</div>
