<div class="row ">
    <div class="col s6" ncy-breadcrumb></div>
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="examsListForm" ng-submit="qt.goToNextStep()">
                    <div layout="row" class="md-inline-form" ng-repeat="exam in qt.selectedExams">
                        <md-autocomplete class="auto-complte" flex="35" md-no-cache="true" md-selected-item="exam.selectedExamType" md-selected-item-change="qt.getExamMethods(exam.selectedExamType.id,$index)" md-search-text="exam.searchExamType" md-items="item in qt.querySearch(exam.searchExamType)" md-item-text="item.name" md-min-length="0" ng-focus="qt.querySearch(exam.searchExamType)" required>
                            <md-item-template>
                                <span md-highlight-text="qt.searchExamType">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                            </md-not-found>
                            <div ng-messages="exam.selectedExamType.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-autocomplete>
                        <md-input-container flex="35">
                            <label>Method</label>
                            <md-select ng-model="exam.selectedExamMethod" style="min-width: 200px;" ng-change="qt.methodSelected($index)" required>
                                <md-option ng-value="method" ng-repeat="method in exam.examMethods">{{method.name}}</md-option>
                            </md-select>
                            <div ng-messages="exam.selectedExamMethod.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="10">
                            <label>Price</label>
                            <input type="number" ng-model="exam.selectedExamMethod.price" ng-change="qt.setPrice()" required>
                            <div ng-messages="exam.selectedExamMethod.price.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="15" class="md-block">
                            <md-button ng-show="(qt.selectedExams.length > 1) " class="md-fab md-mini md-warn" aria-label="Remove" ng-click="qt.removeThisExam($index)">
                                <md-icon md-svg-src="assets/img/ic_clear_white_24px.svg"></md-icon>
                            </md-button>
                            <md-button ng-show="$index == qt.selectedExams.length -1" class="md-fab md-mini green" aria-label="Add new" ng-click="qt.addNewExam()">
                                <md-icon md-svg-src="assets/img/ic_add_circle_outline_white_24px.svg"></md-icon>
                            </md-button>
                        </md-input-container>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                    <div>
                        <h4>TOTAL: {{qt.total}} DA</h4></div>
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-warn md-raised" ng-disabled="examsListForm.$invalid">Next</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
