<div class="container dashboard-container ">
    <div class="row ">
        <div class="col s6" ncy-breadcrumb></div>
    </div>
    <!-- <div class="row grey lighten-2 form-row-div">
    <form class="col s12" ng-submit="qt.addNewExamMethod()">
        <div class="row">
            <div class="input-field col s4">
                <select id="quotationSelectType" ng-model="qt.examTypeId" autofocus ng-options="type.id as type.id for type in qt.examTypes track by type.id" ng-change="qt.getExamMethods(qt.examTypeId)" required>
                </select>
                <label for="last_name">Exam Type</label>
            </div>
            <div class="input-field col s4">
                <select id="quotationSelectMethod" ng-model="qt.examMethodId" ng-options="method.id as method.name for method in qt.examTMethods track by method.id" required>
                </select>
                <label for="last_name">Exam Method</label>
            </div>
            <div class="input-field col s4">
                <input id="price" type="number" class="validate" ng-model="qt
.price" required>
                <label for="price">Price</label>
            </div>
        </div>
        <div class="right-align">
            <button type="submit" class="waves-effect waves-light btn align-right red">Add</button>
        </div>
    </form>
</div>
 -->
</div>
<md-card>
    <div layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <div>
                <form name="userForm" ng-submit="">
                    <div layout="row" class="md-inline-form" ng-repeat="exam in qt.selectedExams">
                        <md-autocomplete class="auto-complte" flex="35" md-no-cache="true" md-selected-item="exam.selectedExamType" md-selected-item-change="qt.getExamMethods(exam.selectedExamType.id,$index)" md-search-text="exam.searchExamType" md-items="item in qt.querySearch(exam.searchExamType)" md-item-text="item.name" md-min-length="0" ng-focus="qt.querySearch(exam.searchExamType)">
                            <md-item-template>
                                <span md-highlight-text="qt.searchExamType">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                        <!-- <md-autocomplete flex="35" required md-input-name="autocompleteField" md-input-minlength="0" md-input-maxlength="18" md-no-cache="qt.noCache" md-selected-item="exam.selectedExamType" md-search-text="exam.searchExamType" md-items="item in qt.querySearch(exam.searchExamType)" md-item-text="item.name" md-floating-label="Exam Type" md-selected-item-change="qt.getExamMethods(exam.selectedExamType.id,$index)">
                            <md-item-template>
                                <span md-highlight-text="qt.searchExamType">{{item.name}}</span>
                            </md-item-template>
                            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                <div ng-message="minlength">Your entry is not long enough.</div>
                                <div ng-message="maxlength">Your entry is too long.</div>
                            </div>
                        </md-autocomplete> -->
                        <md-input-container flex="35">
                            <md-select ng-model="exam.selectedExamMethod" md-on-open="" style="min-width: 200px;" ng-change="qt.setPrice()">
                                <md-option ng-value="method" ng-repeat="method in exam.examMethods">{{method.name}}</md-option>
                            </md-select>
                            <label>Method</label>
                        </md-input-container>
                        <md-input-container flex="10">
                            <label>Price</label>
                            <input type="number" ng-model="exam.selectedExamMethod.price" ng-change="qt.setPrice()">
                        </md-input-container>
                        <md-input-container flex="15" class="md-block">
                           <md-button ng-show="(qt.selectedExams.length > 1) " class="md-fab md-mini md-warn" aria-label="Remove" ng-click="qt.removeThisExam($index)">
    <md-icon md-svg-src="assets/img/ic_clear_white_24px.svg"></md-icon>
</md-button>

                            <md-button ng-show="$index == qt.selectedExams.length -1" class="md-fab md-mini green" aria-label="Add new" ng-click="qt.addNewExam()">
                                <md-icon md-svg-src="assets/img/ic_add_circle_outline_white_24px.svg"></md-icon>
                            </md-button>
                        </md-input-container>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                    TOTAAAAL:{{qt.total}}
                    <div layout="row" layout-align="end">
                        <md-button type="submit" class="md-raised green">Next ></md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</md-card>
