<div ncy-breadcrumb class="col s12 "></div>
<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="roomVm.filter.show">
        <div class="md-toolbar-tools">
            <h2 class="md-title">Rooms</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="roomVm.filter.show = true">
                <md-icon>search</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="roomVm.filter.show">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex name="roomVm.filter.form">
                <input type="text" ng-model="roomVm.query.filter" ng-model-options="roomVm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="roomVm.removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table ng-model="roomVm.selected" md-progress="roomVm.roomList">
            <thead md-head md-order="roomVm.query.order" md-on-reorder="roomVm.onReorder">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-numeric md-order-by="floor"><span>Floor</span></th>
                    <th md-column md-numeric>Status</th>
                    <th md-column md-numeric>Equipment</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="room" md-select-id="{{room.id}}" md-auto-select ng-repeat="room in roomVm.rooms">
                    <td md-cell>{{room.name}}</td>
                    <td md-cell>{{room.floor}}</td>
                    <td md-cell>{{room.status}}</td>
                    <td md-cell>
                        <p ng-repeat="equipment in room.equipment">{{equipment.name}}, {{equipment.brand}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="roomVm.query.limit" md-page="roomVm.query.page" md-total="{{roomVm.count}}" md-on-paginate="roomVm.onPaginate" md-page-select></md-table-pagination>
    <div class="col s6 right-align dashboard-main-action-bar">
        <a ui-sref="app.setting.room.new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</md-card>
