<form class="col s12" ng-submit="login.login(login.credentials)">
    <div class="row">
        <div class="input-field col s12">
            <input id="userName" type="text" class="validate" ng-model="login.credentials.userName" required>
            <label for="userName">User Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="login.credentials.password" required>
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row center" ng-hide="onSuccess">
        <input id="download-button" class="btn-large waves-effect waves-light red col s12" value="Login" type="submit">
    </div>
</form>
