.dashboard-layout-nav {
    min-height: 10vh;
    z-index: 1 !important;
    position: absolute;
}

.level0 {
    z-index: 0 !important;
    position: absolute;
}

.dashboard-layout-main {
    padding-top: 20px;
    padding-left: 240px;
}

.dashboard-layout-main-no-nav {
    min-height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
