.dashboard-layout-nav {
    min-height: 10vh;
}

.dashboard-layout-main {
    min-height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20vw;
}

.dashboard-layout-main-no-nav {
    min-height: 90vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
