<div class="col s6" ncy-breadcrumb>
</div>
<!-- <div class="row">
    <div class="col s2 offset-s8 center-align">
        <button ui-sref="app.exam.new" class="col s12 green waves-effect waves-light btn btn-large">New Exam</button>
    </div>
    <div class="col s2 center-align">
        <button class="col blue s12 waves-effect waves-light btn btn-large">Ongoing Exams</button>
    </div>
</div> -->
<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span flex="grow">Patients List</span>
            <div layout="row" layout-align="end" flex="30">
                <div>
                    <md-button ui-sref="app.patient.new" class="green white-text">New Patient</md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table ng-model="patientVm.selectedPatient" md-progress="patientVm.promise">
            <thead md-head md-order="patientVm.query.order" md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>First Name</span></th>
                    <th md-column>Last Name</th>
                    <th md-column>Gender</th>
                    <th md-column md-numeric>Age</th>
                    <th md-column>Registration Date</th>
                    <th md-column>Address(State)</th>
                    <th md-column md-numeric>Number Of Exams</th>
                    <th md-column md-numeric>History</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="patient" ng-repeat="patient in patientVm.patientList">
                    <td md-cell ng-click="patientVm.viewPatientDetails(patient.id)" class="patient-name-exam-table">{{patient.firstName}}</td>
                    <td md-cell ng-click="patientVm.viewPatientDetails(patient.id)" class="patient-name-exam-table">{{patient.lastName}}</td>
                    <td md-cell>{{patient.gender}}</td>
                    <td md-cell>{{patient.age}}</td>
                    <td md-cell>{{patient.creationDate}}</td>
                    <td md-cell>{{patient.address}}</td>
                    <td md-cell>{{patient.age}}</td>
                    <td md-cell>
                        <md-button ui-sref="app.exams.patientHistory({patientId:patient.id})" class="md-warn" layout-align="end">View Exams</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="patientVm.query.limit" md-page="patientVm.query.page" md-total="{{exam.equipmentTypeList.length}}" md-on-paginate="patientVm.onPaginate" md-page-select></md-table-pagination>
</md-card>
